.backdrop{
    border-radius:15px; 
    
    margin-top: 30px;
}

.movInfo{
    color:#000000; 
    margin-left:650px; 
    margin-top: -300px; 
    min-height: 290px;
}

.overview{
    color:black;
    margin-left: 30px; 
    margin-right: 460px; 
    font-size: medium;
}

.budget{
    color:black; 
    margin-left: 30px; 
    font-size: medium;
}

.poster{
    border-radius:10px;
    margin-left: 970px; 
    margin-top: -310px;
}

.cast{
    color:black; 
    margin-left: 30px; 
    font-weight: bold;
}

.scrolling-wrapper{
    margin-left:180px; 
    margin-right:180px; 
    overflow-x: scroll; 
    overflow-y: hidden;
    white-space: nowrap;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 290px;
    border: 1px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    /*margin-bottom: 50px;*/
    border-radius: 15px;
    display: inline-block;
    margin-right: 15px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(241, 13, 13, 0.2);
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 15px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #1a1a1d;
    color: #d6d6d6;
    border-radius: 15px;
    transform: rotateY(180deg);
  }

  .btn1{
    color: #d6d6d6;
    background-color: #c3073f;
    border-color: #c3073f;
    border-radius: 7px;
    padding:8px;
    width:120px;
  }

  .embed-responsive.embed-responsive-16by9{
    margin-bottom: 20px; 
    margin-right: 120px;
  }